@{
  Layout = "_LayoutBase";
}

<div class="flex flex-col">
  <div class="navbar bg-base-100 shadow-xl">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">Hydro Sales</a>
    </div>
  </div>

  <main class="">
    @RenderBody()
  </main>
</div>