@model ProfileDropdown

<details>
  <summary>
    🙂
  </summary>
  <ul class="p-2 bg-base-800 rounded-t-none right-0 shadow-lg whitespace-nowrap">
    @if (ViewBag.IsAuthenticated)
    {
      <li>
        <a asp-page="/Invoices/Index" hydro-link>Dashboard</a>
      </li>
    }

    <li>
      <a on:click="@(() => Model.SwitchTheme())" href="#">Light/dark theme</a>
    </li>
    @if (ViewBag.IsAuthenticated)
    {
      <li>
        <a on:click="@(() => Model.Logout())" href="#">Log out</a>
      </li>
    }
  </ul>
</details>