@model bool

@{
  var label = ViewData.ModelMetadata.DisplayName ?? ViewData["label"] as string;
}

<div class="form-check">
  <input type="checkbox" asp-for="@Model" class="form-check-input" hydro-bind bind-debounce="0"/>
  <label asp-for="@Model" class="form-check-label">@label</label>
  <span asp-validation-for="@Model" class="text-danger"></span>
</div>