@using Microsoft.AspNetCore.Mvc.ModelBinding
@model string

@{
  var label = ViewData.ModelMetadata.DisplayName ?? ViewData["label"] as string;
  var name = Html.Name("");
  var isInvalid = ViewData.ModelState.GetFieldValidationState(name) == ModelValidationState.Invalid;
}

<div class="form-control w-full">
  <label class="label">
    <span class="label-text">@label</span>
  </label>
  <input asp-for="@Model" type="password" autocomplete="new-password" hydro-bind class="shadow-sm input input-bordered w-full" />
  <label class="label">
    <span class="label-text-alt invalid-feedback" asp-validation-for="@Model"></span>
  </label>
</div>
