@model EditCustomer

<form class="flex flex-col flex-1" method="post">
  <div class="flex-1 overflow-y-auto">
    <div class="p-4">
      <div class="text-xl mb-3 font-bold">Edit customer @Model.InitialName</div>

      <div class="flex space-x-12 h-80">
        <div class="flex-none w-80">
          <field-text field="Name" auto-focus />
          <field-text field="TaxId" />
          <field-currency field="CurrencyCode"/>
          <field-text field="PaymentTerms" />
        </div>
        <div class="flex-none w-80">
          <field-text field="Address" rows="2" />

          <div class="flex space-x-4">
            <field-text field="City" />
            <field-country field="CountryCode"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex p-4 gap-2">
    <button class="btn btn-primary" type="submit" on:click="@(() => Model.Save())">
      <span class="loading loading-spinner loading-sm spinner" aria-hidden="true"></span>
      <span>Save changes</span>
    </button>

    <button type="button" class="btn btn-outline-secondary" on:click="@(() => Model.Back())">
      <span class="loading loading-spinner loading-sm spinner" aria-hidden="true"></span>
      Cancel
    </button>

    <div class="dropdown dropdown-top">
      <div tabindex="0" class="btn btn-ghost">Remove</div>
      <ul tabindex="0" class="p-2 shadow menu menu-sm dropdown-content z-[1] bg-base-100 border border-base-200 rounded">
        <li>
          <a href="#" on:click="@(() => Model.Remove())">Confirm</a>
        </li>
      </ul>
    </div>
  </div>
</form>