@using Hydro.TagHelpers
@{
  var options = ViewBag.DialogOptions as DialogOptions ?? new DialogOptions();
  var shake = !Model.ModelState.IsValid;
}

<dialog class="modal init items-start" open>
  <div class="modal-box mt-24 border border-base-300 max-w-none w-auto">
    <h3 class="font-bold text-lg">@options.Title</h3>

    <form method="post">
      <p class="py-4">
        @RenderBody()
      </p>
      <div class="modal-action justify-between">
        @if (IsSectionDefined("Footer"))
        {
          @await RenderSectionAsync("Footer")
        }
        else
        {
          <div>
            @await RenderSectionAsync("Context", false)
          </div>
          <div>
            <button type="button" class="btn btn-outline-secondary" hydro-handle:click="">@options.CloseLabel</button>

            <button class="btn btn-primary" type="submit">
              <span class="spinner-border spinner-border-sm spinner" aria-hidden="true"></span>
              <span>@options.SubmitLabel</span>
            </button>
          </div>
        }
      </div>
    </form>
  </div>
</dialog>