@page "/"

@{
  ViewData["Title"] = "Welcome";
}

<div class="flex pt-12 justify-center">
  <div class="container">
    <h1 class="text-center text-5xl font-bold">Welcome to Hydro Sales!</h1>

    <div class="text-center p-4 m-4">
      Hydro Sales is a demo app made in Hydro to present the features of the library.
    </div>

    <register-panel />

  </div>

</div>