@model RegisterPanel

<div class="bg-base-200 rounded text-center p-4 m-8">
  @if (ViewBag.IsAuthenticated)
  {
    <div class="text-center p-4">
      You are already logged in, so if you want to go to your dashboard, click the button below.
    </div>

    <div class="d-flex justify-content-center p-4">
      <a class="btn btn-primary" asp-page="/Invoices/Index">Open my dashboard</a>
    </div>
  }
  else
  {
    <div class="d-flex justify-content-center p-4">
      <button class="btn btn-primary mx-2" hydro-on:click="@(() => Model.Register())">Create demo space</button>
    </div>
  }
</div>
